@charset "UTF-8";
/*scss 変数*/
/*scss mixin inlude*/
/***********コンテナ***********/
.container {
  width: 958px;
  margin: auto;
}

.home .wrap {
  background-image: url("./images/bg_wrap-front_page.png");
}

.wrap {
  background-image: url("./images/bg_wrap.png");
  background-color: #f9f5ec;
  background-repeat: repeat-x;
}

/***********ページタイトル***********/
.description {
  background-color: #1a1a1a;
  /************scss入れ子************/
}

.description__title {
  color: #fff;
  font-size: 75%;
  font-weight: normal;
  padding: 7px 0;
  line-height: 1;
  width: 950px;
  margin: auto;
}

/***********ヘッダー***********/
.header {
  width: 950px;
  height: 85px;
  margin: auto;
  overflow: hidden;
  /************scss入れ子************/
}

.header__site {
  float: left;
  max-width: 450px;
  height: 61px;
  padding-top: 24px;
}

.header__site--link {
  color: #1a1a1a;
  font-size: x-large;
}

/***********ヘッダーナビ***********/
.utility-group {
  float: right;
  max-width: 500px;
  padding-top: 28px;
}

.utility-group__nav {
  float: left;
  /************scss入れ子************/
}

.utility-group__nav li {
  float: left;
  padding-right: 10px;
}

.utility-group__nav li a {
  font-size: 85%;
  line-height: 1;
  background: url("./images/ico_link.png") no-repeat;
  padding-left: 15px;
  /************scss疑似クラス************/
}

.utility-group__nav li a:hover {
  color: #f00;
}

/***********グローバルナビ***********/
#global-nav {
  height: 52px;
  margin-bottom: -11px;
}

#global-nav ul {
  margin: 0;
  position: absolute;
  z-index: 10;
  width: 958px;
}

#menu-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu-item-home {
  background-image: url("./images/nav/menu_home.png");
  width: 194px;
}

#menu-item-about {
  background-image: url("./images/nav/menu_about.png");
  width: 194px;
}

#menu-item-mall {
  background-image: url("./images/nav/menu_mall.png");
  width: 194px;
}

#menu-item-column {
  background-image: url("./images/nav/menu_column.png");
  width: 194px;
}

#menu-item-inquiry {
  background-image: url("./images/nav/menu_inquiry.png");
  width: 194px;
}

#global-nav a {
  display: block;
  width: 190px;
  height: 52px;
  text-indent: -9999px;
  outline: 0;
}

#global-nav ul .menu-item ul li {
  background: #fff;
  float: none;
  padding: 0 5px;
}

#global-nav ul .menu-item ul li:first-child a {
  border-top: none;
}

#global-nav ul .menu-item ul a {
  width: 170px;
  color: #333;
  background: none;
  text-indent: 0;
  height: 22px;
  padding: 10px 5px;
  border-top: dotted 1px #ddd;
}

/***********サブメニュー***********/
#global-nav ul .menu-item ul a {
  width: 170px;
  color: #333;
  background: none;
  text-indent: 0;
  height: 22px;
  padding: 10px 5px;
}

/*KV*/
#branding {
  text-align: center;
}

/***********contents***********/
#contents {
  float: left;
  width: 670px;
}

#section {
  display: block;
}

#contents-body {
  padding: 25px 1px 0 4px;
}

.malls-group {
  clear: both;
}

#malls-pickup article {
  width: 308px;
  float: left;
  padding-bottom: 30px;
}

.continue-button {
  background: url("./images/bg_continue-button-shadow.png") no-repeat left bottom;
  float: right;
  padding: 0 0 3px 3px;
}

.continue-button a {
  line-height: 1;
  background: #f2e8d2 url("./images/bg_continue-button.png") no-repeat;
  padding: 9px 12px 7px 32px;
  -webkit-box-shadow: 0 0 1px rgba(211, 194, 157, 0.8);
          box-shadow: 0 0 1px rgba(211, 194, 157, 0.8);
  /************scss疑似クラス************/
}

.continue-button a:hover {
  color: #f00;
}

.malls-group article:first-child {
  margin-right: 40px;
}

#malls-pickup h1 {
  background: url("./images/ico_malls-pickup.png") no-repeat;
  font-size: 150%;
  line-height: 1;
  font-weight: normal;
  padding: 3px 0 2px 19px;
  margin-bottom: 15px;
}

/***********新着コラム***********/
#latest-columns {
  clear: both;
}

#latest-columns-title {
  background: url("./images/ico_latest-columns-title.png") no-repeat;
  font-size: 150%;
  line-height: 1;
  font-weight: normal;
  border-bottom: solid 2px #ddd;
  padding: 4px 0 10px 32px;
  margin-bottom: 5px;
}

#latest-columns .archive-link a {
  display: block;
  float: right;
  margin-top: -3.4em;
  /*scss mixin inlude*/
  line-height: 1;
  background: #f2e8d2 url("./images/bg_continue-button.png") no-repeat;
  padding: 9px 12px 7px 32px;
  -webkit-box-shadow: 0 0 1px rgba(211, 194, 157, 0.8);
          box-shadow: 0 0 1px rgba(211, 194, 157, 0.8);
}

/***********新着コラム記事***********/
#latest-columns article {
  width: 312px;
  float: left;
  padding-top: 15px;
}

#latest-columns article h1 {
  font-size: 115%;
  font-weight: normal;
}

#latest-columns article time {
  display: block;
  margin-bottom: 7px;
}

#latest-columns article p {
  margin-left: 112px;
}

.link-text {
  display: block;
  text-align: right;
  margin-top: 15px;
  line-height: 1;
  /*scss 入れ子*/
}

.link-text a {
  /*scss mixin inlude*/
  line-height: 1;
  background: #f2e8d2 url("./images/bg_continue-button.png") no-repeat;
  padding: 9px 12px 7px 32px;
  -webkit-box-shadow: 0 0 1px rgba(211, 194, 157, 0.8);
          box-shadow: 0 0 1px rgba(211, 194, 157, 0.8);
}

#contents article:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/***********サイドバー***********/
#sidebar {
  float: right;
  width: 256px;
}

#primary aside {
  background: url("./images/bg_sidebar_primary_column_shadow.png") no-repeat left bottom;
  padding: 0 3px 3px;
  margin-bottom: 27px;
}

/***********イベント開催情報***********/
aside#event-info h1 {
  background: url("./images/bg_sidebar_title_green.png") no-repeat;
}

#primary aside h1 {
  color: #fff;
  line-height: 1;
  padding: 12px 10px 0 24px;
  height: 38px;
  margin-bottom: -12px;
  position: relative;
  z-index: 10;
}

#event-info time {
  color: #0c3158;
  font-size: 85%;
  line-height: 1;
}

#primary div {
  padding: 17px 10px 10px;
  background: url("./images/bg_primary_sidebar.png");
}

/***モール出店情報***/
#malls-info h1 {
  background: url("./images/bg_sidebar_title_mint.png") no-repeat;
}

/***お知らせ***/
#information-info h1 {
  background: url("./images/bg_sidebar_title_orange.png") no-repeat;
}

/***********フッター***********/
#footer-container {
  background: url("./images/bg_footer-container.png") repeat-x bottom left;
  clear: both;
  padding-top: 35px;
}

#footer {
  background: url("./images/bg_footer.png");
  width: 950px;
  height: 16px;
  margin: auto;
  padding-top: 70px;
}

#copyright {
  color: #695f49;
  text-align: center;
  font-size: 65%;
}
/*# sourceMappingURL=style.css.map */